<!DOCTYPE html>
<html>
<head>
  <title>Code for San Jose</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render template: "shared/navbar" %>
  <%= yield %>
</body>
</html>
